* {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2c2c54;
  color: white;
}

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .app {
  width: 50%;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #40407a;
  border-radius: 10px;
  margin: 4em 0;
}

main .app header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .app header h1 {
  font-weight: bold;
  font-size: 30px;
}

main .app header small {
  font-size: 16px;
  color: #33d9b2 !important;
  font-weight: bold;
}

main .app section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

main .app section .d-resul {
  width: 90% !important;
  cursor: pointer;
  background: white;
  padding: 8px;
  border-radius: 5px;
  overflow-y: hidden;
}

main .app section .d-resul #resultado {
  color: rgba(0, 3, 17, 0.671);
  margin: 0;
  font-weight: bold;
}

main .app section div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

main .app section div small {
  font-size: 16px;
  color: #33d9b2 !important;
  font-weight: bold;
}

main .app section div label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #33d9b2;
  padding: 5px 0px;
}

main .app section div label input {
  margin: 0px auto;
  width: 50%;
}

main .app section div label #simbolos {
  width: 20px;
  height: 20px;
  border: 2px solid #33d9b2;
  border-radius: 10px !important;
}

@media screen and (max-width: 1036px) {
  main .app {
    width: 100%;
  }
}

@media screen and (max-width: 1036px) and (max-width: 672px) {
  main .app {
    padding: 12px;
  }
  main .app section .d-resul {
    width: 100%;
  }
}

main .d-alerta {
  width: auto;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .d-alerta div small {
  padding: 10px 20px;
  background: #ff5252;
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white !important;
  border-radius: 8px;
}

.boton-1 {
  padding: 10px 100px;
  border: none;
  border-radius: 5px;
  background: #33d9b2b6;
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div p {
  margin: 0;
  font-weight: 500;
}

footer div p a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */